 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

 :root {
     /* font size */
     --fs-sm1: 14px;
     --fs-sm2: 16px;
     --fs-sm3: 20px;
     --fs-md: 18px;
     /*22px*/
     --fs-lg: 28px;
     /*40px*/
     --fs-xl: 32px;
     /*52px*/

     /* color */
     --c1: #F36A3E;
     --c2: #000;
     --c3: #FAFAFA;
     --c4: rgba(0, 0, 0, 0.15);
     --c5: rgba(243, 106, 62, 0.40);
     --c6: rgba(0, 0, 0, 0.04);
     --c7: rgba(0, 0, 0, 0.03);
     --c8: #FFA78A;
     --c9: #FF7A34;
     --c10: #010101;
     --c11: #FFFEFE;
     --c12: #0A0A0A;
     --c13: #F9F9F9;
 }

 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     /* outline: 1px solid red; */
 }

 .list-style-none {
     list-style: none;
 }

 /* color */

 .bg-c13 {
     background: var(--c13);
 }

 .c1 {
     color: var(--c1);
 }

 .c2 {
     color: var(--c2);
 }

 .c3 {
     color: var(--c3);
 }

 .c12 {
     color: var(--c12);
 }

 .c10 {
     color: var(--c10);
 }

 .bg-c1 {
     background: var(--c1);
 }

 /* font size */
 .fs-sm2 {
     font-size: var(--fs-sm2);
 }

 .fs-sm3 {
     font-size: var(--fs-sm3);
 }

 .fs-md {
     font-size: var(--fs-md);
 }

 .fs-lg {
     font-size: var(--fs-lg);
 }

 .fs-xl {
     font-size: var(--fs-xl);
 }

 /* font family */
 .ff-rubik {
     font-family: 'Rubik', sans-serif;
 }

 /* line height */
 .line-height-normal {
     line-height: normal;
 }

 .line-height-154 {
     line-height: 154.3%;
 }

 /* font style */
 .font-style-normal {
     font-style: normal;
 }

 /* opacity */
 .opacity70 {
     opacity: 0.7;
 }

 .opacity80 {
     opacity: 0.8;
 }

 .opacity90 {
     opacity: 0.9;
 }

 .custom-container1 {
     max-width: 1164px !important;
 }

 /* header */
 .header-height {
     min-height: 720px;
 }

 .min-height-96 {
     min-height: 96px;
 }

 .bg-c11 {
     background: var(--c11);
 }

 .logo1 {
     width: 130px;
     height: 83px;
 }

 .logo2 {
     width: 174px;
     height: 110px;
 }

 .button1 {
     padding: 17px 38px;
     border-radius: 41px;
     border: none;
     width: 174px;
     height: 54px;
 }

 .button1:hover {
     background: var(--c9);
 }

 .button2 {
     border-radius: 41px;
     width: 140px;
     height: 54px;
 }

 .button2-border {
     border: 1px solid var(--c1);
 }

 .bg-none {
     background: none;
 }

 .button2:hover {
     background: var(--c9);
     border: transparent;
     color: var(--c3);
 }

 .nav-btn {
     width: 27px;
     height: 18px;
 }

 .nav-btn span {
     width: 100%;
     height: 3px;
     background: var(--c2);
 }

 .nav-width {
     width: 774px;
 }

 .nav-gap {
     gap: 24px;
 }

 .view {
     top: 0;
     right: -100%;
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 5;
     background: white;
 }

 .transition {
     transition: all linear 300ms;
 }

 .gap-30 {
     gap: 30px;
 }

 .line {
     width: 294px;
     height: 0.3px;
     opacity: 0.2;
     background: var(--c2);
 }

 .close {
     top: 54px;
     right: 37px;
     width: 24px;
     height: 24px;
 }

 .pointer {
     cursor: pointer;
 }

 .view ul .c2:hover {
     color: var(--c1);
 }

 .max-width-766 {
     max-width: 766px;
 }

 .hero-line {
     width: 162px;
     height: 11px;
     bottom: -5px;
     left: 0;
 }

 .max-width-565 {
     max-width: 565px;
 }

 .button-section {
     width: 290px;
 }

 .user-friendly {
     font-size: var(--fs-sm1);
 }

 .cv {
     display: block;
     max-width: 163px;
 }

 h1 {
     display: flex;
 }

 .border-radius-10 {
     border-radius: 10px;
 }

 .slider1-item {
     height: 384px;
 }

 .slider1 .slick-dots {
     bottom: -37px !important;
 }

 .slider1 .slick-dots li {
     margin: 0 2px !important;
     width: 16px !important;
     height: 5px !important;
     border-radius: 6px !important;
     opacity: 0.1 !important;
     background: var(--c2) !important;
 }

 .slider1 .slick-dots li.slick-active {
     width: 23px !important;
     background: var(--c1) !important;
     opacity: 1 !important;
 }

 .slider1 .slick-dots li button:before {
     content: unset;
 }

 .ellipse1 {
     width: 278px;
     height: 66px;
     border-radius: 278px;
     opacity: 0.6;
     background: var(--c1);
     filter: blur(75px);
     top: 16px;
     left: 0;
 }

 .ball1 {
     width: 20px;
     height: 20px;
     top: -31%;
     left: 31%;
     z-index: 2;
 }

 .resume-box-shadow {
     box-shadow: 0px 3.01959px 35.22851px 0px rgba(0, 0, 0, 0.15);
 }

 .horse-shoe {
     top: 25%;
     right: 2%;
     width: 40px;
     height: 27px;
     transform: rotate(-44deg);
 }

 .brick {
     top: 35%;
     left: 1%;
     width: 28px;
     height: 43px;
     transform: rotate(-43deg);
 }

 @keyframes resume1 {
     0% {
         transform: rotate(11deg);
     }

     50% {
         transform: rotate(8deg);
     }

     100% {
         transform: rotate(11deg);
     }
 }

 @keyframes resume2 {
     0% {
         transform: rotate(-12deg);
     }

     50% {
         transform: rotate(-15deg);
     }

     100% {
         transform: rotate(-12deg);
     }
 }

 @keyframes resume3 {
     0% {
         transform: rotate(29deg);
     }

     50% {
         transform: rotate(22deg);
     }

     100% {
         transform: rotate(29deg);
     }
 }

 @keyframes resume4 {
     0% {
         transform: rotate(-33deg);
     }

     50% {
         transform: rotate(-38deg);
     }

     100% {
         transform: rotate(-33deg);
     }
 }

 @keyframes jump {
     0% {
         transform: translateY(0);
     }

     50% {
         transform: translateY(5px);
     }

     100% {
         transform: translateY(0);
     }
 }

 .jump-animation {
     animation-name: jump;
     animation-duration: 5s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

 /* main */
 /* section1 */
 .custom-container2 {
     max-width: 1214px !important;
 }

 .section1-height {
     min-height: 661px;
 }

 .resume5 {
     border-radius: 18px;
     box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.15);
     height: 335px;
 }

 .section1-slider-item {
     border-radius: 8px;
     border: 1px solid rgba(0, 0, 0, 0.03);
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
     height: 141px;
     width: 156px;
 }

 .theme {
     width: 39px;
     height: 29px;
 }

 .section1-sliderimg {
     width: 32px;
     height: 32px;
 }

 .section1-slider .slick-track {
     height: 120px;
 }

 .section1-slider .section1-slider-item.slick-slide.slick-current.slick-active {
     border: 1px solid rgba(243, 106, 62, 0.40);
 }

 .section1-slider .section1-slider-item.slick-slide.slick-current.slick-active div p {
     color: var(--c1);
 }

 .section1-slider .section1-slider-item:hover {
     border: 1px solid rgba(243, 106, 62, 0.40);
 }

 .section1-slider .section1-slider-item:hover div p {
     color: var(--c1);
 }

 .section1-slider .slick-dots {
     bottom: -37px !important;
 }

 .section1-slider .slick-dots li {
     margin: 0 3px !important;
     width: 16px !important;
     height: 5px !important;
     border-radius: 6px !important;
     opacity: 0.1 !important;
     background: var(--c2) !important;
 }

 .section1-slider .slick-dots li.slick-active {
     width: 23px !important;
     background: var(--c1) !important;
     opacity: 1 !important;
 }

 .section1-slider .slick-dots li button:before {
     content: unset;
 }

 .section1-gap {
     row-gap: 40px;
 }

 .section1-ellipse1 {
     width: 77px;
     height: 66px;
     filter: blur(100px);
     background: var(--c1);
     border-radius: 50%;
     bottom: 4%;
     left: -5%;
     opacity: 0.8;
 }

 .section1-ellipse2 {
     width: 77px;
     height: 66px;
     opacity: 0.5;
     filter: blur(100px);
     background: var(--c1);
     bottom: 16%;
     right: 0;
 }

 /* section2 */
 .section2-height {
     min-height: 411px;
 }

 .max-width-487 {
     max-width: 487px;
 }

 .max-width-525 {
     max-width: 525px;
 }

 .section2-img1 {
     width: 100%;
     height: 100%;
 }

 .section2-gap {
     row-gap: 40px;
 }

 /* section3 */
 .section3-height {
     min-height: 695px;
 }

 .calender {
     width: 100%;
     height: 217px;
     object-fit: contain;
 }

 .section3-btn {
     padding: 17px 38px;
     border-radius: 41px;
     background: var(--c1);
     width: 161px;
     height: 53px;
     border: none;
 }

 .section3-btn:hover {
     background: var(--c9);
 }

 .section3-ellipse1 {
     width: 165px;
     height: 143px;
     border-radius: 50%;
     background: var(--c1);
     opacity: 0.5;
     filter: blur(120.5px);
     top: 18%;
     right: -5%;
 }

 .section3-ellipse2 {
     width: 165px;
     height: 143px;
     border-radius: 50%;
     background: var(--c1);
     opacity: 0.5;
     filter: blur(120.5px);
     bottom: 7%;
     left: -1%;
 }

 /* section4 */
 .section4-height {
     min-height: 885px;
 }

 .custom-container3 {
     max-width: 1182px !important;
 }

 .section4-list li,
 .section5-list li {
     background: url(/assets/images/tick.webp) left top no-repeat;
     padding-left: 34px;
 }

 .section4-btn {
     padding: 17px 38px;
     border-radius: 41px;
     background: var(--c1);
     border: none;
 }

 .section4-btn:hover {
     background: var(--c9);
 }

 .section4-resume {
     width: 100%;
     height: 422px;
 }

 .section4-ellipse {
     width: 165px;
     height: 143px;
     border-radius: 50%;
     background: var(--c1);
     opacity: 0.5;
     filter: blur(120.5px);
     bottom: 22%;
     left: 11%;
 }

 /* section5 */
 .section5-height {
     min-height: 897px;
 }

 .section5-resume {
     width: 100%;
     height: 305px;
     object-fit: contain;
 }

 .section5-line {
     width: 376px;
     height: 7px;
     bottom: -20%;
     left: 0%;
 }

 .section5-ellipse {
     width: 165px;
     height: 143px;
     background: var(--c1);
     opacity: 0.5;
     filter: blur(120.5px);
     border-radius: 50%;
 }

 .section5-ellipse1 {
     right: 0;
     top: 33%;
 }

 .section5-ellipse2 {
     bottom: -24%;
     left: 2%;
 }

 /* section6 */
 .section6-height {
     min-height: 364px;
 }

 .custom-container4 {
     max-width: 1304px !important;
 }

 .section6-px {
     padding: 0 14px;
 }

 .max-width-1140 {
     max-width: 1140px;
 }

 .section6-box {
     width: 97%;
     height: 104px;
     padding: 20px;
     border-radius: 10px;
     background: #FFF;
     box-shadow: 0px 18px 59px 0px rgba(0, 0, 0, 0.07);
 }

 .section6-fs {
     font-size: 14px;
     bottom: -25%;
     left: 9%;
 }

 .section6-img {
     width: 46px;
     height: 46px;
     border-radius: 50%;
 }

 .triangle {
     bottom: -25%;
     left: 9%;
 }

 .stars {
     width: 98px;
     height: 18px;
 }

 .section6-item1-height {
     min-height: 227px;
 }

 .section6-item2-height {
     min-height: 227px;
 }

 .section6-slider-item2 {
     display: none !important;
 }

 .prev1 {
     top: 50%;
     left: 0;
 }

 .next1 {
     top: 50%;
     right: 0;
 }

 .prev1,
 .next1 {
     width: 41px;
     height: 41px;
     border: 1px solid var(--c1);
     border-radius: 50%;
     background: none;
 }

 .prev2,
 .next2 {
     width: 25px;
     height: 25px;
     border: 1px solid var(--c1);
     border-radius: 50%;
     background: none;
 }

 .prev1:hover,
 .next1:hover,
 .prev2:hover,
 .next2:hover {
     background: var(--c1);
 }

 .prev1:hover svg path,
 .next1:hover svg path,
 .prev2:hover svg path,
 .next2:hover svg path {
     fill: white;
 }

 .btn-display {
     display: none !important;
 }

 .btn-container {
     width: 60px;
     display: flex;
     bottom: -20%;
     left: 50%;
     transform: translateX(-30px);
 }

 /* media query */
 @media(min-width: 390px) {

     /* header */
     .button-section {
         width: 366px;
     }

     .button2 {
         width: 174px;
     }

     .ellipse1 {
         left: 54px;
     }

     /* section2 */
     .section2-img1 {
         width: 350px;
         height: 305px;
     }

     /* section6 */
     .section6-px {
         padding: 0 35px;
     }
 }

 @media(min-width: 450px) {

     /* header */
     .cv {
         display: inline;
         max-width: unset;
     }

     h1 {
         display: unset;
     }

 }

 @media(min-width: 576px) {
     :root {
         /* font size */
         --fs-sm2: 16px;
         --fs-md: 22px;
         --fs-lg: 30px;
         --fs-xl: 40px;
     }

     /* header */
     .close {
         top: 39px;
         right: 39px;
         width: 42px;
         height: 42px;
     }

     .nav-btn {
         width: 42px;
         height: 28px;
     }

     .nav-btn span {
         height: 5px;
     }

     .user-friendly {
         font-size: var(--fs-sm2);
     }

     .hero-line {
         width: 215px;
     }

     .ellipse1 {
         width: 518px;
         height: 95px;
         border-radius: 518px;
         filter: blur(118px);
         top: 33px;
         left: 16px;
     }

     .ball1 {
         top: -45%;
         left: 13%;
         width: 42px;
         height: 42px;
     }

     .hero-sec-img3 {
         width: 68px;
         height: 84px;
         bottom: 13%;
         right: 43%;
     }

     .resume1 {
         width: 116px;
         height: 127px;
         transform: rotate(11deg);
         top: 23%;
         right: 3%;
         animation-name: resume1;
         animation-duration: 5s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
     }

     .resume2 {
         width: 122.689px;
         height: 134.537px;
         transform: rotate(-12deg);
         top: 31%;
         left: 3%;
         animation-name: resume2;
         animation-duration: 5s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
     }

     .resume3 {
         bottom: 8%;
         right: 8%;
         width: 174px;
         height: 190px;
         transform: rotate(29deg);
         animation-name: resume3;
         animation-duration: 5s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
     }

     .resume4 {
         transform: rotate(-33deg);
         bottom: 8%;
         left: 8%;
         width: 185.522px;
         height: 203.438px;
         animation-name: resume4;
         animation-duration: 5s;
         animation-timing-function: linear;
         animation-iteration-count: infinite;
     }

     .resume-border-radius {
         border-radius: 6px;
     }

     .horse-shoe {
         top: unset;
         bottom: 39%;
         width: 60px;
         height: 41px;
         transform: rotate(-20deg);
     }

     .brick {
         top: unset;
         bottom: 42%;
         left: 7%;
         width: 28px;
         height: 43px;
         transform: rotate(0);
     }

     /* main */
     /* section1 */
     .section1-gap {
         row-gap: 60px;
     }

     .section1-slider .slick-track {
         height: 141px;
     }

     .section1-sliderimg {
         width: 35px;
         height: 35px;
     }

     .theme {
         width: 44px;
         height: 33px;
     }

     .section1-ellipse1 {
         width: 184px;
         height: 159px;
         filter: blur(120px);
         top: -3%;
         left: -8%;
         opacity: 0.5;
     }

     .section1-ellipse2 {
         width: 129px;
         height: 113px;
         background: var(--c1);
         opacity: 0.5;
         filter: blur(120px);
         top: 22%;
         right: 0;
     }

     /* section2 */
     .section2-img1 {
         padding-left: 12px;
         width: 100%;
         height: 100%;
     }

     .section2-design {
         width: 261px;
         height: 11px;
         left: 0;
         top: -17%;
     }

     .section2-ball {
         top: 6%;
         left: 5%;
         width: 40px;
         height: 40px;
     }

     .section2-brick {
         top: 7%;
         right: 2%;
         width: 31px;
         height: 44px;
         transform: rotate(26deg);
     }

     .section2-horseshoe {
         bottom: 5%;
         left: 43%;
         width: 78px;
         height: 54px;
         transform: rotate(-49deg);
     }

     /* section3 */
     .calender {
         height: 204px;
     }

     .section3-height {
         min-height: 488px;
     }

     /* section4 */
     .section4-height {
         min-height: 595px;
     }

     .section4-resume {
         object-fit: contain;
     }

     /* section5 */
     .section5-height {
         min-height: 635px;
     }

     /* section6 */
     .section6-px {
         padding: 0 42px;
     }

     .prev2,
     .next2 {
         width: 41px;
         height: 41px;
     }

     .prev2 {
         top: 50%;
         left: 0;
     }

     .next2 {
         top: 50%;
         right: 0;
     }

     .btn-display {
         display: flex !important;
     }

     .btn-container {
         display: none;
     }
 }

 @media(min-width: 650px) {

     /* section2 */
     .section2-ball {
         top: 14%;
         left: 5%;
     }

     .max-width-556 {
         max-width: 556px;
     }
 }

 @media(min-width: 700px) {

     /* section6 */
     .section6-slider-item {
         display: none !important;
     }

     .section6-slider-item2 {
         display: unset !important;
     }

     .section6-height {
         min-height: 684px;
     }
 }

 @media(min-width: 768px) {
     :root {
         /* font size */
         --fs-sm2: 16px;
         --fs-md: 22px;
         --fs-lg: 40px;
         --fs-xl: 52px;
     }

     /* header */

     .header-height {
         min-height: 810px;
     }

     .view {
         position: unset;
         background: unset;
     }

     .nav-gap {
         gap: 30px;
     }

     .hero-line {
         width: 274px;
     }

     .logo1 {
         width: 156px;
         height: 100px;
     }

     .ellipse1 {
         width: 626px;
         height: 115px;
         top: -16px;
         left: 32px;
     }

     .ball1 {
         width: 64px;
         height: 64px;
         top: -54%;
         left: 21%;
     }

     .hero-sec-img3 {
         bottom: 11%;
         right: 43%;
     }

     @keyframes resume1 {
         0% {
             transform: rotate(22deg);
         }

         50% {
             transform: rotate(18deg);
         }

         100% {
             transform: rotate(22deg);
         }
     }

     .resume1 {
         width: 183px;
         height: 201px;
         transform: rotate(22deg);
         top: 23%;
         right: 6%;
     }

     @keyframes resume2 {
         0% {
             transform: rotate(-19.37deg);
         }

         50% {
             transform: rotate(-25deg);
         }

         100% {
             transform: rotate(-19.37deg);
         }
     }

     .resume2 {
         width: 183px;
         height: 201px;
         transform: rotate(-19.37deg);
         top: 27%;
         left: 6%;
     }

     @keyframes resume3 {
         0% {
             transform: rotate(27.762deg);
         }

         50% {
             transform: rotate(22deg);
         }

         100% {
             transform: rotate(27.762deg);
         }
     }

     .resume3 {
         width: 208px;
         height: 228px;
         transform: rotate(27.762deg);
         bottom: 8%;
         right: 11%;
     }

     .resume4 {
         width: 207.257px;
         height: 227.271px;
         bottom: 8%;
         left: 11%;
     }

     .resume-border-radius {
         border-radius: 10px;
     }

     .horse-shoe {
         width: 76px;
         height: 52px;
         bottom: 35%;
         right: 5%;
     }

     .brick {
         width: 61px;
         height: 92px;
         bottom: 22%;
         left: 0;
     }

     /* main */
     /* section1 */
     .section1-part2 {
         margin: 0 25px 0 36px;
         transform: translateY(-5px);
     }

     .max-width-499 {
         max-width: 499px;
     }

     .section1-ellipse1 {
         top: 8%;
         left: -4%;
     }

     .section1-ellipse2 {
         width: 165px;
         height: 143px;
         top: unset;
         bottom: 27%;
     }

     /* section2 */
     .section2-design {
         width: 345px;
         height: 11px;
         top: -25%;
     }

     .section2-height {
         min-height: 590px;
     }

     .section2-ball {
         width: 64px;
         height: 61px;
         top: 11%;
         left: 5%;
     }

     .section2-brick {
         width: 61px;
         height: 87px;
         top: 16%;
         transform: rotate(0);
     }

     .section2-horseshoe {
         width: 76px;
         height: 52px;
         bottom: 16%;
         left: 43%;
         transform: rotate(0);
     }

     /* section3 */
     .calender {
         height: 358px;
     }

     .section3-height {
         min-height: 664px;
     }

     /* section4 */
     .section4-height {
         min-height: 629px;
     }

     .section4-resume {
         width: 100%;
         height: 422px;
         transform: translateY(-31px);
     }

     /* section5 */
     .section5-resume {
         transform: translateX(-27px);
         width: 100%;
         height: 405px;
         object-fit: contain;
     }

     .section5-height {
         min-height: 704px;
     }

     /* section6 */
     .section6-height {
         min-height: 708px;
     }

     .section6-fs {
         font-size: 16px;
     }

     .section6-box {
         width: 95%;
         height: 104px;
         padding: 15px 18px 14px 18px;
     }
 }

 @media(min-width: 850px) {

     /* section6 */
     .section6-box {
         width: 357px;
         height: 104px;
         padding: 15px 18px 14px 18px;
     }
 }

 @media(min-width: 992px) {

     /* header */
     .nav-gap {
         gap: 41px;
     }

     /* section2 */
     .section2-img1 {
         width: 496px;
         height: 429px;
     }

     /* section5 */
     .section5-resume {
         width: 465px;
         object-fit: unset;
     }

     /* section6 */
     .section6-item1-height {
         min-height: 227px;
     }

     .section6-item2-height {
         min-height: 207px;
     }
 }

 @media(min-width: 1200px) {

     /* section2 */
     .section2-brick {
         top: 16%;
         right: 8%;
     }

     /* section3 */
     .calender {
         width: 548px;
         height: 358px;
     }

     /* section4 */
     .section4-resume {
         width: 509px;
         height: 422px;
     }

     /* section6 */
     .section6-box {
         width: 357px;
         height: 104px;
         padding: 15px 18px 14px 18px;
     }
 }